<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/ticketfootball?characterEncoding=UTF-8</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        
        <!-- Enable Hibernate's automatic session context management -->
        <!--  <property name="current_session_context_class">thread</property> -->
        
        <property name="hibernate.connection.isolation">2</property>
        
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        
        <!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		
		<property name="hbm2ddl.auto">validate</property>
		
		<!-- Begin Entity zone -->
		<mapping class="th.go.ticket.app.enjoy.model.Bookingtype" />
		<mapping class="th.go.ticket.app.enjoy.model.Eventmatch" />
		<mapping class="th.go.ticket.app.enjoy.model.Fieldzonedetail" />
		<mapping class="th.go.ticket.app.enjoy.model.FieldzonedetailPK" />
		<mapping class="th.go.ticket.app.enjoy.model.Fieldzonemaster" />
		<mapping class="th.go.ticket.app.enjoy.model.Refpagedetail" />
		<mapping class="th.go.ticket.app.enjoy.model.Refuserstatus" />
		<mapping class="th.go.ticket.app.enjoy.model.Ticketorder" />
		<mapping class="th.go.ticket.app.enjoy.model.TicketorderPK" />
		<mapping class="th.go.ticket.app.enjoy.model.Ticketstatus" />
		<mapping class="th.go.ticket.app.enjoy.model.Userdetail" />
		<mapping class="th.go.ticket.app.enjoy.model.Userprivilege" />
		<!-- End Entity zone -->
	</session-factory>
</hibernate-configuration>